# 🎄 Advent of Code {{ range }}🎄
{% for year, days in events.items() %}
## {{ emojis[year] }} [Advent of Code {{ year }}](https://adventofcode.com/{{ year }}) {{ emojis[year] }}

|Day|Puzzle|Progress|Solutions|
|---|---|---|---|
{% for day, details in days.items() %}
{{- "|" + day.lstrip("0") + "|" + details["title"] + "|" + emojis[year] * details["progress"] + "|" + details["solutions_formatted"] + "|" }}
{% endfor %}
{% endfor %}

