# 🎄 Advent of Code {{ range }}🎄
{% for year, days in events.items() %}
## [Advent of Code {{ year }}](https://adventofcode.com/{{ year }})

|Day|Puzzle|Stars|Solutions|
|---|---|---|---|
{% for day, details in days.items() %}
{{- "|" + day.lstrip("0") + "|" + details["title"] + "|" + ["", "⭐", "⭐⭐"][details["progress"]] + "|" + details["solutions_formatted"] + "|" }}
{% endfor %}
{% endfor %}

